<form class="form-signin" action="/auth/login" method="POST" id="form-container">

  <img class="mb-4" src="http://res.cloudinary.com/ignlopezsanchez/image/upload/v1524768546/logo.png" alt="" width="72" height="72">
  <h1 class="h3 mb-3 font-weight-normal">FiestiLogin</h1>

  <label for="username" class="sr-only">Nombre de usuario</label>
  <input type="text" id="username" name="username" class="form-control" placeholder="Nombre de usuario" required autofocus>

  <label for="password" class="sr-only">Password</label>
  <input type="password" id="password" name="password" class="form-control" placeholder="Password" required>


  <div class="d-flex justify-content-center">
    <p class="account-message ">
      ¿No tienes cuenta?
      <a href="/auth/login">Signup</a>
    </p>
  </div>
  <button class="btn btn-lg btn-maincolor btn-block" type="submit">Log in</button>

</form>