<form class="form-signin" action="/auth/signup" method="POST" id="form-container" enctype="multipart/form-data">

  <img class="mb-4" src="/images/logo.png" alt="" width="72" height="72">
  <h1 class="h3 mb-3 font-weight-normal">FiestiSignup</h1>

  <label for="username" class="sr-only">Nombre de usuario</label>
  <input type="text" id="username" name="username" class="form-control" placeholder="Nombre de usuario" required autofocus>

  <label for="email" class="sr-only">Email</label>
  <input type="email" id="email" name="email" class="form-control" placeholder="Mail" required autofocus>

  <div class="input-group mb-3">
    <div class="input-group-prepend">
      <label class="input-group-text" for="inputGroupSelect01">Género</label>
    </div>
    <select class="custom-select" id="inputGroupSelect01" name="inputGroupSelect01">
      <option id="hombre" name="hombre" value="Hombre">Hombre</option>
      <option id="mujer" name="mujer" value="Mujer">Mujer</option>
    </select>
  </div>

  <label for="password" class="sr-only">Password</label>
  <input type="password" id="password" name="password" class="form-control" placeholder="Password" required>

  <!-- <label for="photo" >Foto de perfil:</label>
  <input id="photo" type="file" name="photo"> -->

  <div class="input-group-prepend justify-content-center">
    <span class="upload-box input-group-text "><i class="fas fa-arrow-down"></i>Upload<i class="fas fa-arrow-down"></i></span>
  </div>
  <div class="custom-file">
    <input type="file" class="custom-file-input" id="photo" name="photo">
    <label class="custom-file-label" for="inputGroupFile01">Elige foto</label>
  </div>
  </div>

  <div class="error">
    {{#if message }}
    <div class="error-message">{{ message }}</div>
    {{/if}}
  </div>

  <div class="justify-content-center">
    <p class="account-message ">
      ¿Ya tienes cuenta?
      <a href="/auth/login">Login</a>
    </p>
  </div>
  <button class="btn btn-lg btn-primary btn-block" type="submit">Sign up</button>
  
</form>


<!-- views/auth/signup.hbs -->
<!-- <h2>Signup</h2>

<form action="/auth/signup" method="POST" id="form-container" enctype="multipart/form-data">
  <label for="username">Username</label>
  <input id="username" type="text" name="username" placeholder="Pepe">

  <br><br>
  <label for="email">Email</label>
  <input id="email" type="text" name="email" placeholder="pepe@ironhack.es">
  <br><br>

  <label for="password">Password</label>
  <input id="password" type="password" name="password" placeholder="Your password">
  <br><br>
  <label for="photo">Photo</label>
  <input id="photo" type="file" name="photo">
  <br>

  {{#if message }}
    <div class="error-message">{{ message }}</div>
  {{/if}}

  <br><br>

  <button>Create account</button>

  <p class="account-message">
    Do you already have an account?
    <a href="/auth/login">Login</a>
  </p>
</form> -->