<form class="form-signin" action="/auth/signup" method="POST" id="form-container" enctype="multipart/form-data">

  <img class="mb-4" src="http://res.cloudinary.com/ignlopezsanchez/image/upload/v1524768546/logo.png" alt="" width="72" height="72">
  <h1 class="h3 mb-3 font-weight-normal">FiestiSignup</h1>

  <label for="username" class="sr-only">Nombre de usuario</label>
  <input type="text" id="username" name="username" class="form-control" placeholder="Nombre de usuario" required autofocus>

  <label for="email" class="sr-only">Email</label>
  <input type="email" id="email" name="email" class="form-control" placeholder="Mail" required autofocus>

  <div class="input-group mb-3">
    <div class="input-group-prepend">
      <label class="input-group-text" for="inputGroupSelect01">Género</label>
    </div>
    <select class="custom-select" id="inputGroupSelect01" name="inputGroupSelect01">
      <option id="hombre" name="hombre" value="Hombre">Hombre</option>
      <option id="mujer" name="mujer" value="Mujer">Mujer</option>
    </select>
  </div>

  <label for="password" class="sr-only">Password</label>
  <input type="password" id="password" name="password" class="form-control" placeholder="Password" required>

  <div class="input-group-prepend justify-content-center">
    <span class="upload-box input-group-text ">
      <i class="fas fa-arrow-down"></i>Upload
      <i class="fas fa-arrow-down"></i>
    </span>
  </div>
  <div class="custom-file">
    <input type="file" class="custom-file-input" id="photo" name="photo">
    <label class="custom-file-label" for="inputGroupFile01">Elige foto</label>
  </div>

  <div class="error">
    {{#if message }}
    <div class="error-message">{{ message }}</div>
    {{/if}}
  </div>

  <div class="justify-content-center d-flex">
    <p class="account-message ">
      ¿Ya tienes cuenta?
      <a href="/auth/login">Login</a>
    </p>
  </div>
  <button class="btn btn-lg btn-maincolor btn-block" type="submit">Sign up</button>

  <div class="ocultar-lat-long">
    <label for="invitado" class="sr-only"></label>
    <input type="text" id="invitado" name="invitado" class="form-control" value="{{invitado}}">
  </div>


</form>