<div id="carouselExampleFade" class="carousel slide carousel-fade" data-ride="carousel">
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img class="d-block w-100" src="../images/party01.jpg" alt="First slide">
      <div class="carousel-caption d-none d-md-block">
        <h5>Menudo monton de fiestas</h5>
        <p>Si</p>
      </div>
    </div>

  </div>
  <a class="carousel-control-prev" href="#carouselExampleFade" role="button" data-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="carousel-control-next" href="#carouselExampleFade" role="button" data-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>

<div class="fwidgets">
    <div class="container">
      <div class="row">
        <div class="col-sm-4 widget">
            <canvas id="barChart"></canvas>
        </div>
        <div class="col-sm-4 widget">
          <span>
            <i class="glyphicon glyphicon-star"></i>
          </span>
          <h3>Rapido</h3>
          <p> Duis tempus leo vitae ipsum viverra, blandit condimentum sapien porttitor. Duis porttitor sed metus eget mollis.
            Curabitur bibendum imperdiet tortor, ut pulvinar purus elementum nspendisse at erat luctus. </p>
        </div>
        <div class="col-sm-4 widget">
          <span>
            <i class="glyphicon glyphicon-heart"></i>
          </span>
          <h3>Eficaz</h3>
          <p> Duis tempus leo vitae ipsum viverra, blandit condimentum sapien porttitor. Duis porttitor sed metus eget mollis.
            Curabitur bibendum imperdiet tortor, ut pulvinar purus elementum nspendisse at erat luctus. </p>
        </div>
      </div>
    </div>
  </div>