<div class="container">
  <div class="row">
    <div id="map" class="hidemap"></div>

    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyA9sMOZtj7Sp4V7w9nZGmheBRXhDhSjveU"></script>
    
    <div id="floating-panel">
      <input id="address" type="textbox" value="Madrid">
      <input id="submit" type="button" value="Buscar sitio...">
    </div>

    <form action="/event/new" method="POST" id="form-container" enctype="multipart/form-data">
      
      <br>
      <br>
      <label for="name">Name</label>
      <input id="name" type="text" name="name" placeholder="">
      <br>
      <br>
      <label for="description">Description</label>
      <textarea rows="10" cols="50" id="description" class="form-control" name="description"></textarea>
      <br>
      <br>
      <label for="photo">Change photo</label>
      <input id="photo" type="file" name="photo">
      <br>
      <br>
      <label for="date">Date</label>
      <input id="date" type="date" name="date" value="{{event.date}}">
      <br>
      <br>
      <label for="latitude">Latitude</label>
      <input id="latitude" type="text" name="latitude" placeholder="">
      <br>
      <br>
      <label for="longitude">Longitude</label>
      <input id="longitude" type="text" name="longitude" placeholder="{{results.[0].geometry.location}}">
      <br>
      <br>
      <label for="pool">Pool: </label>
      <input id="pool" name="pool" type="checkbox">
      <br>
      <br>
      <label for="bbq">BBQ: </label>
      <input id="bbq" name="bbq" type="checkbox">
      <br>
      <br>
      <label for="children">Children: </label>
      <input id="children" name="children" type="checkbox">
      <br>
      <br>
      <label for="wifi">Wifi: </label>
      <input id="wifi" name="wifi" type="checkbox">
      <br>
      <br>
      <label for="private">Private: </label>
      <input id="private" name="private" type="checkbox">
      <br>
      <br>
      <label for="roof">Roof: </label>
      <input id="roof" name="roof" type="checkbox">
      <br>
      <br>
      <label for="parking">Parking: </label>
      <input id="parking" name="parking" type="checkbox">
      <button>Create event</button>

    </form>

    <p>Evento creado por: Admin</p>

    <button>Invita a un amigo</button>
  </div>
</div>