<div class="container">
  <div class="row">
    <div id="map"></div>
    
    <p>Photo of the party</p>
    
    <ul>
      <li>hasPool</li>
      <li>hasBBQ</li>
      <li>hasChildren</li>
      <li>hasWifi</li>
      <li>isPrivate</li>
      <li>hasRoof</li>
      <li>hasParking</li>
    </ul>
    
    <p>Description</p>
    <p>Date</p>
    <p>Evento creado por: Admin</p>
    
    <button>Invita a un amigo</button>
  </div>
</div>